<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @movie.image.url(:medium)%>
        <div class="star-rating" data-score=<%= @avg_review %> ></div>
        <em><%= "#{@reviews.length} reviews" %></em>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= @movie.title %></td>
              </tr>
              <tr>
                <td><strong>Length:</strong></td>
                <td><%= @movie.length %></td>
              </tr>
              <tr>
                <td><strong>Director:</strong></td>
                <td><%= @movie.director %></td>
              </tr>
              <tr>
                <td><strong>Rating:</strong></td>
                <td><%= @movie.rating %></td>
              </tr>
            </tbody>
        </table>
        <%= link_to "Write A Review", new_movie_review_path(@movie), class:"btn btn-danger" %>
      </div>
      
    </div>
    <div class="col-md-7 col-md-offset-1">
        <h1 class="review title"><%= @movie.title %></h1>
        <p><strong>Description: </strong><%= @movie.description %></p>

        <% if @reviews.blank? %>
          <h3>There are no reviews</h3>
          <%= link_to "Make A Review", new_movie_review_path(@movie), class:"btn btn-danger" %>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="reviews">
              <p><strong>User:</strong>
              <%= review.user.email %></br>
              <strong>Review:</strong>
              <%= review.comment %></p>
              <div class="star-rating" data-score=<%= review.rating%> ></div>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
<div class="button">
<%= link_to 'Edit', edit_movie_path(@movie), class:"btn btn-danger" %></br>
</div>
<div class="button">
  <%= link_to 'Back', movies_path, class:"btn btn-danger" %>
</div>
<script>
  $('.star-rating').raty({
    path:'/assets',
    readOnly: true,
    score: function() {
        return $(this).attr('data-score')
    }
  });
</script>